.container {
  margin: 0 auto;
  padding: 0px 40px 40px 40px;
  width: 100%;
}
.slick-next:before {
  color: #000 !important;
}

.slick-prev:before {
  color: #000 !important;
}
.card {
    margin: 10px;
}