nav {
    margin-top: -35px !important;
}

.navbar.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar.navbar-dark .navbar-nav .nav-link:hover {
    color: #3c77da !important;
}