.folder table,
.folder th,
.folder td {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: top;
}
table {
  width: 100%;
  height: 560px;
}
#scroll {
  overflow: scroll;
  height: 500px;
  width: 300px;
}

#Document {
  margin-top: 0px !important;
}

pre {
  overflow-y: auto;
  // height: 500px;
}
